body {
  background-color: rgb(244, 234, 255);
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 52px;
  color: rgb(88, 49, 196);
}

header {
  text-align: center;
  padding: 32px;
}

header img {
  width: 350px;
}
main {
  background-color: blueviolet;
  padding: 32px;
  width: 700px;
  margin: 32px auto;
  border-radius: 8px;
  color: rgb(248, 241, 255);
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

li {
  margin: 14px 0;
  padding-left: 10px;
  border-left: 5px solid transparent;
}

.extra-importance {
  color: rgb(255, 237, 177);
  /* border-left: 5px solid rgb(247, 209, 85); */
  border-color: rgb(247, 209, 85);
}
.hight-light {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: rgb(36, 3, 102);
  background-color: rgb(255, 237, 177);
  padding: 2px 6px;
  border-radius: 4px;
}
a:hover,
a:active {
  background-color: rgb(250, 201, 39);
}
/* a:active{

} */
